version: "2.4"

networks:
    net:
        driver: bridge

volumes:
    data:
    conf:

services:
    slapd:
        image: zombi/ldap:latest
        environment:
            - "ROOTPW=pass"
            - "ORGANIZATION=example"
            - "DATADIR=/data"
            - "CONFDIR=/conf"
        volumes:
            - conf:/etc/ldap/slapd.d
            - data:/var/lib/ldap
